.btns{
  display: flex;
  justify-content: flex-end;
}

.buttons{
  width: 3px;
  background-color: transparent;
  color: black;
}

.buttons:hover{
  background-color: transparent;
  color: rgb(132, 71, 232);
}


.ModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}

.ModalContent {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: white;
}

.ModalTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.ModalInput {
  width: 100%;
  margin-bottom: 15px;
}

.ModalButton {
  margin-top: 15px;
  margin-right: 10px;
}


MuiInputBase-input{
  color: white;
}

.names{
  margin-left: 5px;
}